In [31]:
import pickle
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [32]:
url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
pima = pd.read_csv(url, names=names)

In [33]:
pima.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [37]:
X_data, y_data = pima.drop(columns = ['class']).values, pima['class'].values

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, test_size = .33, random_state = 1, stratify = y_data)

In [39]:
print(f'Size of the train dataset: {X_train.shape[0]}')
print(f'Size of the test dataset: {X_test.shape[0]}')

Size of the train dataset: 514
Size of the test dataset: 254

# Train the model

In [40]:
rf_model = RandomForestClassifier()
rf_model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [43]:
filename = 'pima_dataset.pkl'
pickle.dump(rf_model, open(filename, 'wb'))

# Evaluate the model

In [41]:
rf_model.score(X_test, y_test)

0.7440944881889764

# Test model on new data

In [45]:
loaded_model = pickle.load(open('pima_dataset.pkl', 'rb'))

In [46]:
X_test[0]

array([  6.   , 154.   ,  74.   ,  32.   , 193.   ,  29.3  ,   0.839,
        39.   ])

In [54]:
import numpy as np
loaded_model.predict([[0.1 for i in range(8)]])

array([0])